@using Newtonsoft.Json

@section head
{
  <script type="text/javascript">
      __bootstrap = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Reviews));
  </script>
}

<div class="app-container">
    @if(ViewBag.Error != "")
    {
        <div class="error">@ViewBag.Error</div>
    }
  <div class="reviews-app"></div>
</div>
