@section head
{
  <script type="text/javascript">
    @if (Session["userID"] != null)
    {
      @Html.Raw("__userID = " + @Session["userID"] + ";");
    } else {
      @Html.Raw("__userID = null;");
    }
  </script>
}

<div class="top-bar">
  <div class="login-info"></div>
  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
</div>

<div class="explain">
  When you use this application, your email will be used to tell Amazon.com that you are
  the one using this application to navigate its servers for information.
  @Html.ActionLink("Read More", "YourEmail", "Home").
</div>

<div class="app-container">
  <div class="main-app"></div>
</div>
