
<div class="explain">
  Amazon.com does not
  provide an API (that I know of) to use to navigate their website, so this application
  makes raw HTTP requests, as if it was a web browser, for you. I don't want to be
  responsible for DDOSing Amazon's servers, so that's why I include your email
  along with the requests I make. Your email may be sent over the internet (even though
  Amazon.com requires HTTPS these days), but it's just your email and not your password,
  and it would be very hard and unlikely for any hacker-type to sniff your email coming out of this
  humble website. None the less, you've been warned.
</div>

